/src/main/resources/application.properties
target
.classpath
.project
.settings
.sql
/src/main/webapp/resource/css
/src/main/webapp/resource/font
/src/main/webapp/resource/img
/src/main/webapp/resource/img_map
.ds_store
.idea
*.iml