/src/main/resources/application.properties
target
.classpath
.project
.settings
.sql
/src/main/resources/webapp/image
/src/main/resources/webapp/image_map
/src/main/resources/webapp/reservation-html-base
.ds_store
.idea
.iml